{% extends "equ/a_activity.html" %}
{% block activitycontent %}    

<style>
  .el_col{
    background-color: #6897f5;
  border:1px solid #6897f5;
    color: white;
  }
  .proj_req{
  background-color: white;
    color: var(--primary);
}

.dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}
</style>

<!-- <h1> Early Collection </h1> -->
<ul class="project_list">
  {% for req in material_requests %}
  <li><form method="post" class="action-form" action="{% url 'a_material_request_handling' req.pk %}">
    {% csrf_token %}
    {{ req.quantity }} {{ req.material.name }} by User {{ req.user.username }}
    {% if req.request_type == 'Borrow' %}
    which was to be returned by {{ req.return_date }}
    {% endif %}
    
    <button type="submit" name="action" value="collect_early" class="a-actionbutton accept">Collected</button></form>
  </li>
  {% empty %}
    <li>No Requests found.</li>
  {% endfor %}
</ul>

{% endblock activitycontent %}   
