{% extends "equ/a_base.html" %}
{% block content %}   
<style>

  .activityLog span{
    border: 1px solid white;
    background-color: white;
  }

  .activityLog li{
    background-image: linear-gradient(to right, #60B8CA, #5890F9);
  }
</style>
<div class="my_projects">
  <div class="mp1 aal">

<div class="navbar">
  <a href="{% url 'a_activity_project_requests' %}" class="btn-uproject">Project Requests</a>
  <a href="{% url 'a_activity_material_requests' %}" class="btn-uproject">Material Requests</a>
  <a href="{% url 'a_activity_past_due' %}" class="btn-uproject">Past Due</a>
  <a href="{% url 'a_activity_early_collection' %}" class="btn-uproject">Early Collection</a>
</div>

    {% block activitycontent %}
    {% endblock %}


</div></div>
{% endblock content %}   
