{% extends "equ/a_base.html" %}
{% block content %}  

<style>
  .dpn{
    display: none;
  }
  
  .main-navbar{
    justify-content: end;
    height: max-content;
  }

  .my_projects{
    border: 1px solid lightgray;
    border-radius: 20px;
  }

  .materials span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .materials li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }

  .btn-uproject{
    margin-top: 10px;
  }
</style>

<div class="my_projects">
<h2>Add Materials to {{ equipment.name }}</h2>
  <form method="post" class="project-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-uproject">Add</button>
  </form>

{% endblock content %}   
