{% extends "equ/a_base.html" %}
{% block content %}    

<div class="my_projects">
  <h2>Modify Stock for {{ material.name }}</h2>
  <form method="post">
    {% csrf_token %}
    <label for="stock">Amount:</label>
    <input type="number" id="stock" name="stock" required>
    <button type="submit" name="modify">Change</button>
  </form>
  <br>
  <form method="post" style="margin-top: 1rem;">
    {% csrf_token %}
    <button type="submit" name="delete">Delete Material</button>
  </form>
{% endblock content %}   
