<!-- This File contains all the common code that I want to be inherited by all my webpages--> 

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/u_inventory.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/a_overview.css' %}">
  
</head>
<body>
  <div class="container rcntc">
        <div class="sidebar">
          <ul>
            {% if user.is_authenticated %}
            <div class="mslogo"><img src="{% static 'images/MSClogo2.png' %}" alt="">
              <a> Lab ID: {{ user.username }}</a>
            </div> 
            <!-- <div class="mslogo"><img src="{% static 'images/MSClogo2.png' %}" alt=""></div> -->
            <a href="{% url 'a_overview' %}" class="overview"><div class="link"><span></span><li>
              <img src="{% static 'images/overview icon.png' %}" alt=""> Overview</li></div></a>
            <a href="{% url 'a_members' %}" class="members"><div class="link"><span></span><li>
              <img src="{% static 'images/members icon.png' %}" alt="">Members</li></div></a>
            <a href="{% url 'a_equipment' %}" class="equipment"><div class="link"><span></span><li>
              <img src="{% static 'images/equipments icon.png' %}" alt="">Equipment</li></div></a>
            <a href="{% url 'a_materials' %}" class="materials"><div class="link"><span></span><li>
              <img src="{% static 'images/inventory icon.png' %}" alt="">Inventory</li></div></a>
            <a href="{% url 'a_activity_project_requests' %}" class="activityLog"><div class="link"><span></span><li><img src="{% static 'images/activitylog icon.png' %}" alt="">Activity Log</li></div></a>
            <a href="{% url 'logout' %}" class="logout"><div class="link"><span></span><li>Log Out</li></div></a>
            
            {% else %}
            <a href="{% url 'login' %}" class="login"><div class="link"><span></span><li>Log In</li></div></a>
            {% endif %}
          </ul>
        </div>
      
        <div class="content acon">
          <!-- Add the nav bar -->
   <div class="main-navbar">
    <div class="cloudlogo dpn">
      <div class="cloud"><img src="{% static 'images/cloudavt.png' %}" alt=""></div>
      <span style="font-weight: bold;">Hello, {{ profile.first_name }}, Let's Manage!</span>
    </div>
    <a class="profile-link" href="{% url 'u_profile_page' %}">
      <button class="profile-button">{{ profile.first_name }}</button>
    </a>
  </div>
          {% block content %}
          {% endblock %}
        </div>
  </div>

  </body>
</html>
