{% extends "equ/a_base.html" %}
{% block content %}    
<style>
  .equipment span{
      border: 1px solid white;
      background-color: white;
    }

    .equipment li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }
</style>
<div class="my_projects" style="padding: 20px;">
  <h1>Equipments</h1> 
  <br>
{% for equipment in equipments %}
<div class="equip_container">
    <h2 class="{{ equipment.condition|lower }}">{{ equipment.name }}</h2>
    <a href="{% url 'a_remove_equipment' equipment.pk %}" style="padding: 4px 6px; border: none; border-radius: 5px;">Remove</a>
</div>
{% endfor %}
<br>
<a href="{% url 'a_add_equipment' %}" class="btn-uproject">Add Equipment</a>
</div>
{% endblock content %}   
