{% extends "equ/a_base.html" %}
{% block content %}    

<div class="my_projects" style="padding: 20px;">
  <h1>Equipments</h1> 
  <br>
{% for equipment in equipments %}
<div class="equip_container">
    <h2 class="{{ equipment.condition|lower }}">{{ equipment.name }}</h2>
    <a href="{% url 'a_remove_equipment' equipment.pk %}" style="padding: 4px 6px; border: none; border-radius: 5px;">X</a>


  <a href="{% url 'a_add_material' equipment.pk %}" style="padding: 4px 6px; border: none; border-radius: 5px;">+</a>
  <br>
</div>
{% endfor %}
<br>
<a href="{% url 'a_add_equipment' %}" class="btn-uproject">Add Equipment</a>
</div>
{% endblock content %}   
