{% extends "equ/a_base.html" %}
{% block content %}    

<div class="my_projects">
  <h1>Equipments</h1> 
  <br>
{% for equipment in equipments %}
  <h2 class="{{ equipment.condition|lower }}">{{ equipment.name }}</h2>
  <a href="{% url 'a_remove_equipment' equipment.pk %}" style="background-color: darkred;padding: 4px 6px; border: none; border-radius: 5px;">X</a>
  <br>
  <p>
  <ul>
  {% for material in equipment.material_set.all %}
    <li>{{ material.name }} <a href="{% url 'a_add_stock' material.pk %}" style="padding: 4px 6px; border: none; border-radius: 5px;">{{material.stock}} </a></li>
  {% endfor %}
  </ul>
  </p>
  <a href="{% url 'a_add_material' equipment.pk %}" style="padding: 4px 6px; border: none; border-radius: 5px;">+</a>
  <br>
{% endfor %}
<br>
<a href="{% url 'a_add_equipment' %}" class="btn-uproject">Add Equipment</a>
</div>
{% endblock content %}   
