{% extends "equ/a_base.html" %}
{% block content %}    
{%load static%}
<style>

  .materials span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .materials li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }

  .dpn{
    display: none;
  }
  
  .main-navbar{
    justify-content: end;
    height: max-content;
  }

  .close{
  /* border: 1px solid black; */
  background: darkgray;
  margin-left: -25px;
  padding: 7px;
  border-radius: 40px;
  /* position: absolute; */
  /* top: 0; */
  margin-top: 5px;
}

 .allmats{
    grid-template-columns: repeat(4, 1fr);
  }
</style>
<div class="my_projects a_proj" style="padding: 20px;">
  <!-- <h1>Materials</h1>  -->
  <!-- <br> -->
  <div class="navbar pv rq_items">
    <div class="mem_search eqm">
      <div class="searchbar">
        <img src="{% static 'images/search.png' %}" alt="">
        <input type="text" placeholder="Start typing to search names..">
      </div>
    </div>
    <a href="{% url 'a_add_category' %}" class="btn-uproject rqa"><img src="{% static 'images/Add icon.png' %}" alt="" style="width: 30px;">Add Category</a>
  </div>
  <div class="alleqps allmats">
{% for category in categories %}



  <div class="equip_container mat-con">
    <h2 style="color: black;">
      <a href="{% url 'a_category_detail' category.pk %}">
        <div class="cat_img"><img src="{% static 'images/item.png' %}" alt=""></div>
      <div class="cat_name">{{ category.name }}</div></a></h2>
    <a href="{% url 'a_remove_category' category.pk %}" class="close"><img src="{% static 'images/close.png' %}" alt=""></a>
</div>

{% endfor %}

<!-- <br> -->

</div>
{% endblock content %}   
