{% extends "equ/a_base.html" %}
{% block content %}
{% load static %}
<style>
  .members span{
      border: 1px solid white;
      background-color: white;
    }

    .members li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }

    .dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}
</style>



<div class="members amb">
  <div class="mem_search">
    <div class="searchbar">
      <img src="{% static 'images/search.png' %}" alt="">
      <input type="text" placeholder="Start typing to search names..">
    </div>
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td><a href="{% url 'a_member_detail' user.0.pk %}">{{ user.0.username }}</a></td>
          <td>{{ user.1.first_name }}</a></td>   
          <td>{{ user.1.last_name }}</a></td>
          <td>{{ user.1.user_type }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock content %}
