{% extends "equ/a_base.html" %}
{% block content %}
  
<style>
    .members span{
        border: 1px solid white;
        background-color: white;
      }
  
      .members li{
        background-image: linear-gradient(to right, #60B8CA, #5890F9);
      }
  
      .dpn{
    display: none;
  }
  
  .main-navbar{
    justify-content: end;
    height: max-content;
  }

  .apm{
        flex-direction: column;
    border-radius: 20px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px lightgray;
  }
  </style>
<div class="my_projects">
    <div class="mp1 apm">  
<h2>{{user.username}}</h2>
<p>Name: {{ profile.first_name }} {{ profile.last_name }}</p>
        <p>Lab: {{ profile.lab }}</p>
        <p>User Type: {{ profile.user_type }}</p>
        <p>Contact Number: {{ profile.contact_number }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Branch: {{ profile.branch }}</p>
        <p>Year of Graduation: {{ profile.year_of_graduation }}</p>
        <p>Institute Name: {{ profile.institute_name }}</p>
        <p>Training Record: {{ profile.training_record }}</p>
        <p>Machines Trained In: {{ profile.machines_trained_in }}</p>
<br>
<h1>Projects</h1>
{% for project in projects %}
<br>
<h2><a href="{% url 'a_confirmed_project_detail' project.pk %}">{{ project.name }}</a></h2>
{% empty %}
    <li>No projects found.</li>
{% endfor %}
<br>
<h1>Logs</h1>
<table class="logs">
    <tr>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>
{%for log in logs%}
<tr>
    <td>{{log.login_time}}</td>
    <td>{{log.logout_time}}</td>
</tr>
{%endfor%}
</table>
{% endblock content %}

