{% extends "equ/a_base.html" %}
{% block content %}    
<style>
    .graph-image {
      width: 100%; /* Adjust the percentage or pixel value as needed */
      height: auto;
    }

    .overview span{
      border: 1px solid white;
      background-color: white;
    }

    .overview li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }
  </style>
<div class="my_projects">
    <h1>Lab :{{lab.name}}</h1>
    <h2>Admin :{{lab.lab_admin}}</h2>
    <div class="mp1">
        <div class="clndr"><a href="{% url 'c_list' %}" class="btn btn-primary">View Calendar</a></div>
        <h2> Active Users: {{active_user_count}}</h2>

        <img src="data:image/png;base64,{{ graph }}" alt="Daily Footfall Graph" class="graph-image">



</div>
</div>
  

{% endblock content %}   
