{% extends "equ/a_base.html" %}
{% block content %}    
{% load static %}
<style>
    .graph-image {
      width: 100%;
    height: 90%;
    /* object-fit: contain; */
    border-radius: 10px;
    }

    .overview span{
      border: 1px solid #6897f5;
    background-color: #6897f5;
    }

    .overview li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
    }
    .actcard {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  </style>
<div class="my_projects u_inventory">
  <div class="rq_items cpr">
    <a href="{% url 'c_list' %}" class="btn-uproject rqa"><img src="{% static 'images/viewcalendaricon.png' %}" alt=""> View Calendar</a>
    <a href="{% url 'a_activity_project_requests' %}" class="btn-uproject rqa"><img src="{% static 'images/managebookingsicon.png' %}" alt="" style="width: 30px;"> Manage Bookings</a>
    <a href="{% url 'a_activity_material_requests' %}" class="btn-uproject rqa"><img src="{% static 'images/manageitemsicon.png' %}" alt="">Manage Items</a>
  
  </div>
    <!-- <h1>Lab :{{lab.name}}</h1> -->
    <!-- <h2>Admin :{{lab.lab_admin}}</h2> -->
    <div class="mp1">
        <!-- <div class="clndr"><a href="{% url 'c_list' %}" class="btn btn-primary">View Calendar</a></div> -->
        <!-- <h2> Active Users: {{active_user_count}}</h2> -->

        <div class="graph">
          <div class="st">User Footfall</div>
          <img src="data:image/png;base64,{{ graph }}" alt="Daily Footfall Graph" class="graph-image">
        </div>
        <div class="status_up">
          <div class="status">
            <div class="st">Status</div>
            <div class="allst">
              <div class="sts">
                <div class="num">07</div>
                <p>Pending Booking Requests</p>
                <a href="#">view all</a>
              </div>
              <div class="sts">
                <div class="num">10</div>
                <p>Pending Item Requests</p>
                <a href="#">view all</a>
              </div>
              <div class="sts">
                <div class="num">03</div>
                <p>Active Users & Equipments</p>
                <a href="#">view all</a>
              </div>
            </div>
          </div>
          <div class="up">
            <div class="st">Upcomings</div>
            <div class="allst allup">
              <div class="sts">
                <img src="{% static 'images/up1.jpg' %}" alt="">
                <a href="#"> view all</a>
              </div>
              <div class="sts sts2">
                <img src="{% static 'images/up2.jpg' %}" alt="">
                <a href="#"> view all</a>
              </div>
            </div>
          </div>
        </div>
      
      <!-- <div class="actcard"> -->
        <!-- <div class="atcd">{{material_requests_count}} Pending Material Requests</div>
        <a href="{% url 'a_activity_material_requests' %}">Check</a>
      </div>
      <br> -->
      
      <!-- <div class="actcard">
        <div class="atcd">{{project_requests_count}} Pending Project Requests</div>
        <a href="{% url 'a_activity_project_requests' %}">Check</a>
      </div> -->


</div>
</div>
  

{% endblock content %}   
