{% extends "equ/a_base.html" %}
{% block content %}

<style>
  .dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}

.activityLog span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .activityLog li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }

  .project-details{
    border: 1px solid lightgray;
  }
</style>
  <div class="project-details">
    <h1>{{ project.name }}</h1>
    <br> 
    <div class="project-info">
      <p><strong>Description:</strong> {{ project.description }}</p>
      <p><strong>Lab:</strong> {{ project.lab }}</p>
      <p><strong>User:</strong> {{ project.user }}</p>
      <p><strong>Duration:</strong> {{ project.start_date }} to {{ project.end_date }}</p>
    </div>
    <br>
    <h2>Equipments:</h2>
    <div class="equipment-list">
      {% for booking in bookings %}
      <div class="booking">
        <p class="equipment-name">{{ booking.equipment }}</p>
        <p class="booking-details">
          Booking from {{ booking.start_time }} to {{ booking.end_time }} 
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if error_message %}
  <div class="error-message">>{{ error_message }}</div>
  <br>
  <a href="{% url 'c_list' %}" class="btn-uproject">View Calendar</a>
  <br>
  {% endif %}
  <form method="POST" class="action-form">
    {% csrf_token %}
    <button type="submit" name="action" value="accept" class="a-actionbutton accept">Approve</button>
    <button type="submit" name="action" value="reject" class="a-actionbutton reject">Reject</button>
  </form>
{% endblock content %}
