<!-- This File contains all the common code that I want to be inherited by all my webpages--> 

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
        <div class="sidebar">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'projects' %}">Projects</a></li>            
            <li><a href="{% url 'help' %}">Help Blogs</a></li>
            <li><a href="{% url 'settings' %}">Settings</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
          </ul>
        </div>
      
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
  </div>

  </body>
</html>
