{% extends "equ/c_base.html" %}
{% block content %}    


<div class="al">
    <div class="calendar">
        <h3> Equipment Calendar for {{equipment.name}}</h3> 
    
    <div class="table_con">
        <table class="cal">
        <tr>
            <th class="t_d"> Time/Date</th>
            {% for date in date_range %}
                <th>{{ date|date:"jS F" }}</th>
            {% endfor %}
        </tr>
        {% for time_slot_range in time_slot_ranges %}
            {% with time_slot_start=time_slot_range.0 time_slot_end=time_slot_range.1 %}
            <tr>
                <th>{{ time_slot_start|time:"h A" }} to {{ time_slot_end|time:"h A" }}</th>
                {% for date in date_range %}
                <td class="{% for booking in bookings %}{% if booking.start_time.date == date and booking.start_time.time <= time_slot_start.time and booking.end_time.time > time_slot_start.time %}Booked{% endif %}{% endfor %}">
                    &nbsp;
                </td>
                {% endfor %}
            </tr>
            {% endwith %}
        {% endfor %}
    </table>
    </div>
    </div>
</div>
{% endblock content %} 