{% extends "equ/calendarbase.html" %}
{% block content %}    

<h2>Today</h2>
<table>
  <thead>
    <tr>
      <th>Equipment</th>
      {% for time_slot in time_range %}
        <th>{{ time_slot|time:"H:i" }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for equipment in equipments %}
      <tr>
        <td>{{ equipment.name }}</td>
        {% for time_slot in time_range %}
          {% with is_booked=False %}
            {% for ts in time_slots %}
              {% if ts.start_time <= time_slot and time_slot < ts.end_time %}
                {% with is_booked=True %}
                  <td class="booked"></td>
                {% endwith %}
              {% endif %}
            {% empty %}
              {% if not is_booked %}
                <td></td>
              {% endif %}
            {% endfor %}
          {% endwith %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}