<!-- This File contains all the common code that I want to be inherited by all my webpages--> 

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/u_inventory.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/a_overview.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/superadmin.css' %}">
</head>
<body>
  
  {% if user.is_authenticated %}
     
  <div class="container rcntc">
        <div class="sidebar">
          <ul>
            <div class="mslogo"><img src="{% static 'images/MSClogo2.png' %}" alt=""> <a> Lab ID: {{ user.username }}</a></div>
            <a href="{% url 's_overview' %}" class="overview"><div class="link"><span></span><li>
              <img src="{% static 'images/overview icon.png' %}" alt="">Overview</li></div></a>
            <a href="{% url 's_labs' %}" class="projects"><div class="link"><span></span><li>
              <img src="{% static 'images/administration.png' %}" alt="">Manage</li></div></a>
            <!-- <a href="{% url 'admin:index' %}" class="data"><div class="link"><span></span><li>Data</li></div></a> -->
            <a href="{% url 'logout' %}" class="logout"><div class="link"><span></span><li>Log Out</li></div></a>
            <!-- <li><a href="{% url 's_overview' %}">Overview</a></li>
            <li><a href="{% url 's_labs' %}">Projects</a></li> -->
            <!--<li><a href="{% url 's_equipment' %}">Equipments</a></li>-->
            <!-- <li><a href="{% url 'admin:index' %}">Data</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li> -->
            {% else %}
            <a href="{% url 'login' %}" class="login"><div class="link"><span></span><li>Log In</li></div></a>
            {% endif %}
          </ul>
        </div>
      
        <div class="content">
          <!-- Add the nav bar -->
     <div class="main-navbar">
      <div class="cloudlogo dpn">
        
        <div class="cloud"><img src="{% static 'images/cloudavt.png' %}" alt=""></div>
        <span>Hello, {{ user.username }}</span>
      </div>
      <a class="profile-link" href="{% url 'u_profile_page' %}">
        <button class="profile-button">{{ user.username }}</button>
      </a>
    </div>

          {% block content %}
          {% endblock %}
        </div>
  </div>

  </body>
</html>
