{% extends "equ/s_base.html" %}
{% block content %}    
<style>
    .projects span{
      border: 1px solid #6897f5;
    background-color: #6897f5;
    }

    .projects li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
      background: #ededed;
    }

    .dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}
  </style>

<div class="labs">
    <h1>Labs</h1>


<div class="my_projects smproj">
    <div class="mp1">  

      <div class="alleqps allmats">
{% for lab in labs%}
<div class="equip_container mat-con">
<h2> <a href="{% url 's_lab_detail' lab.pk %}" style="text-decoration: none; flex-direction: row;"><span style="font-weight: 800;">{{ lab.name }} </span>- <i>{{lab.lab_admin}}</i></a></h2>
</div>
{% endfor %}
</div>

</div>



{% endblock content %}   
