{% extends "equ/s_base.html" %}
{% block content %}    

<style>
  .projects span{
    border: 1px solid white;
    background-color: white;
  }

  .projects li{
    background-image: linear-gradient(to right, #60B8CA, #5890F9);
  }
</style>

<div class="labs">
  
<div class="cln_btn">
  <h1>Lab: {{lab.name}}</h1>
  <a href="{% url 'c_list_superadmin' lab.pk %}" class="btn btn-primary">View Calendar</a></div>
<br>
<div class="members">
  <h2>User List</h2>
<table class="user-table">
  <thead>
    <tr>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="{% url 's_member_detail' user.pk %}">{{ user.username }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h2>Equipments</h2>
  <ul class="equipment_list">
    {% for equipment in equipments %}
    <br><br>
      <h2>{{ equipment.name }} [{{ equipment.condition}}]</h2>
    {% endfor %}
    <br>
    <br>
  <h2>Materials</h2>
    <ul class="equipment_list">
      {% for material in materials %}
        <li>{{material.stock}} {{ material.name }} </li>
      {% endfor %}
      </ul>
</div>
</div>
{% endblock content %}   
