{% extends "equ/s_base.html" %}
{% block content %}
  
<style>
    .projects span{
        border: 1px solid #6897f5;
    background-color: #6897f5;
    }

    .projects li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
      background: #ededed;
    }

    .dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}

.my_projects {
    border: 1px solid lightgray;
}
</style>

<div class="my_projects">
    <div class="mp1">  
<h2>{{user.username}}</h2>
<p><span style="color: black;">Name:</span> {{ profile.first_name }} {{ profile.last_name }}</p>
        <p><span style="color: black;">Lab: </span>{{ profile.lab }}</p>
        <p><span style="color: black;">User Type: </span>{{ profile.user_type }}</p>
        <p><span style="color: black;">Contact Number: </span>{{ profile.contact_number }}</p>
        <p><span style="color: black;">Email: </span>{{ profile.email }}</p>
        <p><span style="color: black;">Branch: </span>{{ profile.branch }}</p>
        <p><span style="color: black;">Year of Graduation: </span>{{ profile.year_of_graduation }}</p>
        <p><span style="color: black;">Institute Name: </span>{{ profile.institute_name }}</p>
        <p><span style="color: black;">Training Record: </span>{{ profile.training_record }}</p>
        <p><span style="color: black;">Machines Trained In: </span>{{ profile.machines_trained_in }}</p>
<br>
<h1>Projects</h1>
{% for project in projects %}
<br>
<h2><a href="{% url 's_confirmed_project_detail' project.pk %}">{{ project.name }}</a></h2>
{% empty %}
    <li>No projects found.</li>
{% endfor %}
<br>
<h1 class="lgs">Logs</h1>
<table class="logs">
    <tr>
        <th>Log In</th>
        <th>Log Out</th>
    </tr>
{%for log in logs%}
<tr>
    <td>{{log.login_time}}</td>
    <td>{{log.logout_time}}</td>
</tr>
{%endfor%}
</table>
{% endblock content %}

