{% extends "equ/s_base.html" %}
{% block content %}    

<style>
    .graph-image {
      width: 90%; /* Adjust the percentage or pixel value as needed */
      height: auto;
    }
    .overview span{
      border: 1px solid white;
      background-color: white;
    }

    .overview li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }

    .sgp{
      margin-top: -50px;
    }
    .overlay-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  </style>

  <div class="graph sgp">
    {% if graph_url %}
      <img src="data:image/png;base64,{{ graph_url }}" alt="Daily Footfall Graph" class="graph-image">
    {% else %}
      <img src="/static/images/blur_graph.jpg" alt="No Graph Image" class="graph-image">
      <a href="/s_labs/"><button class="overlay-button">Add New Lab</button></a>
    {% endif %}
  </div>
  
{% endblock content %}   
