{% extends "equ/s_base.html" %}
{% block content %}    

<style>
    .graph-image {
      width: 90%; /* Adjust the percentage or pixel value as needed */
      height: auto;
    }
    .overview span{
      border: 1px solid white;
      background-color: white;
    }

    .overview li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }
  </style>

<div class="graph sgp">
  <img src="data:image/png;base64,{{ graph_url }}" alt="Daily Footfall Graph" class="graph-image">
</div>

{% endblock content %}   
