{% extends "equ/u_base.html" %}
{% block content %}

<style>

  .bookings span{
    border: 1px solid white;
    background-color: white;
  }

  .bookings li{
    background-image: linear-gradient(to right, #60B8CA, #5890F9);
  }

  .prjt{
    background-color: #338eb9;
    color: white;
  }

</style>
  <div class="project-details cent-d">
    <h1>Project Details</h1>
    <br>
    <div class="project-info">
      <p><strong>Name:</strong> {{ project.name }}</p>
      <p><strong>Description:</strong> {{ project.description }}</p>
      <p><strong>Lab:</strong> {{ project.lab }}</p>
      <p><strong>User:</strong> {{ project.user }}</p>
      <p><strong>Duration:</strong> {{ project.start_date }} to {{ project.end_date }}</p>
    </div>
    <br>
    <h2>Equipments:</h2>
    <div class="equipment-list">
      {% for booking in bookings%}
      <div class="booking">
        <p class="equipment-name">{{booking.equipment}}</p>
        <p class="booking-details">
          Booking from {{booking.start_time}} to {{booking.end_time}} 
        </p>
      </div>
      {% endfor %}
    </div>

    <form method="POST" class="action-form">
      {% csrf_token %}
      <button type="submit" name="action" class="a-actionbutton reject">Delete</button>
    </form>
  </div>
{% endblock content %}
