{% extends "equ/u_base.html" %}
{% block content %}    

<form method="post" action="{% url 'u_create_project' %}" class="project-form">

  {% csrf_token %}
  {{ project_form.as_p }}

  <div id="bookings-container">
    <div class="booking-form">
      <h3>Booking 1</h3>
      {{ booking_formset.management_form }}
      {% for form in booking_formset %}
        {{ form.as_table }}
      {% endfor %}
    </div>
  </div>

  <button type="button" id="add-booking-btn">Add Slot</button>
  <button type="submit" class="submit-btn">Submit</button>
</form>


{% endblock content %}   


