{% extends "equ/u_base.html" %}
{% block content %}    



<div class="all_cards">
    <h1>Help Blogs</h1>
<br/>
    <div class="card">
        <p class="question">question 1</p>
        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aperiam sit voluptates modi veritatis facilis. Soluta quaerat dicta numquam eaque corrupti saepe expedita quia at officiis? Perspiciatis consequatur quo aliquam.</p>
    </div>
    <div class="card">
        <p class="question">question 2</p>
        <p class="answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eaque, neque explicabo exercitationem amet, odio maxime quaerat et earum dolor iure. Asperiores consequatur laborum eos cumque, molestiae officia! Atque, iusto?</p>
    </div>
    <div class="card">
        <p class="question">question 3</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error molestias aspernatur, numquam quis labore nobis possimus quam quos eligendi expedita voluptate assumenda voluptatibus vitae et sed, praesentium dolore corrupti? Asperiores?</p>
    </div>
    <div class="card">
        <p class="question">question 4</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error molestias aspernatur, numquam quis labore nobis possimus quam quos eligendi expedita voluptate assumenda voluptatibus vitae et sed, praesentium dolore corrupti? Asperiores?</p>
    </div>
    <div class="card">
        <p class="question">question 5</p>
        <p class="answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error molestias aspernatur, numquam quis labore nobis possimus quam quos eligendi expedita voluptate assumenda voluptatibus vitae et sed, praesentium dolore corrupti? Asperiores?</p>
    </div>
</div>

{% endblock content %}   
