{% extends "equ/u_base.html" %}
{% block content %}    

<style>
    .inventory span{
      border: 1px solid #6897f5;
    background-color: #6897f5;
    }
  
    .inventory li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
    }
  </style>


<div class="my_projects cent-d">


        <h1>Select a Category</h1>
        <br>
            {% for category in categories %}
            <p><a href="{% url 'u_request_material' category.pk %}">{{ category.name }}</a></p>
            {% endfor %}
        


</div>

{% endblock content %}   
