{% extends "equ/u_inventory.html" %}
{% block requestcontent %}

<style>
  .pending{
    background: #ffffff;
    color: var(--primary);
    border: 1px solid var(--primary);
  }

  .closed{
    background-color: #6897f5;
    color: white;
    border: 1px solid #6897f5;
  }

  .inventory span{
    border: 1px solid #6897f5;
    background-color: #6897f5;
  }

  .inventory li{
    /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
    background: #ededed;
  }

  .rq_items{
    width: 230px;
  }

</style>

<ul class="project_list">
    {% for req in material_requests %}
    <li style="color:rgb(34, 15, 87);">
        Request for {{ req.quantity }} {{ req.material.name }}
        {% if req.request_type == 'Borrow' %}
            Was returned by {{ req.return_date }}
        {% endif %} closed.
    {% empty %}
      <li style="color:rgb(34, 15, 87);">No Requests found.</li>
    {% endfor %}
  </ul>
{% endblock requestcontent %}   