{% extends "equ/u_base.html" %}
{% block content %}    

<h1>Project Details</h1>
<br>
<p><strong>Name:</strong> {{ project.name }}</p>
<p><strong>Description:</strong> {{ project.description }}</p>
<p><strong>Lab:</strong> {{ project.lab }}</p>
<p><strong>User:</strong> {{ project.user }}</p>
<p><strong>Duration:</strong> {{ project.start_date }} to {{ project.end_date }}</p>
<br>
<h2> Equipments:</h2>
{% for booking in bookings%}
<b>{{booking.equipment}}</b> 
<p>Booking from {{booking.start_time}} to {{booking.end_time}} using the following materials : {{booking.materials}}</p>
<br>
{% endfor %}


{% endblock content %}
