{% extends "equ/u_base.html" %}
{% block content %}    

<style>
  .my_projects p{
    margin: 10px 0;
  }

  .my_projects{
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 0px 0px 25px 0px lightgray; */
    border: 1px solid lightgray;
  }

  .dpn{
  display: none;
}

.main-navbar{
  justify-content: end;
  height: max-content;
}

.my_projects {
    /* height: max-content; */
    margin-top: -50px;
}

.profile-button{
  background-color: #6897f5;
  color: white;
}
</style>

<div class="my_projects">
  <h1>Profile</h1>


        <p>Name: {{ profile.first_name }} {{ profile.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Lab: {{ profile.lab }}</p>
        <p>User Type: {{ profile.user_type }}</p>
        <p>Contact Number: {{ profile.contact_number }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Branch: {{ profile.branch }}</p>
        <p>Year of Graduation: {{ profile.year_of_graduation }}</p>
        <p>Institute Name: {{ profile.institute_name }}</p>
        <p>Training Record: {{ profile.training_record }}</p>
        <p>Machines Trained In: {{ profile.machines_trained_in }}</p>
        

  </div>

{% endblock content %}   
