{% extends "equ/u_base.html" %}
{% block content %}    


<a href="{% url 'c_list' %}" class="btn btn-primary calender">View Calendar</a>

<h2 class="my_proj">My Projects</h2>

<ul class="project_list">
  {% for project in user_projects %}
    <li><a href="{% url 'u_project_detail' project.pk %}">{{ project.name }}</a></li>
  {% empty %}
    <li>No projects found.</li>
  {% endfor %}
</ul>

<a href="{% url 'u_create_project' %}" class="btn btn-primary create_project">Create Project</a>
 



  

{% endblock content %}   
