{% extends "equ/u_base.html" %}
{% block content %}    

<div class="my_projects">



<div class="mp1">
  <a href="{% url 'c_list' %}" class="btn-uproject">View Calendar</a>
  <small><a href="{% url 'u_profile_page' %}" class="btn-uproject"> Profile</a></small>
<br>

<h2 class="my_proj">My Projects</h2>

<ul class="project_list">
  {% for project in user_confirmed_projects %}
    <li><a href="{% url 'u_confirmed_project_detail' project.pk %}">{{ project.name }}</a></li>
  {% empty %}
    <li>No projects found.</li>
  {% endfor %}
</ul>



<h2 class="my_proj">My Project Requests</h2>

<ul class="project_list">
  {% for project in user_projects %}
    <li><a href="{% url 'u_project_detail' project.pk %}">{{ project.name }}</a></li>
  {% empty %}
    <li>No projects found.</li>
  {% endfor %}
</ul>
</div>

<div class="mp2">
  <a href="{% url 'u_create_project' %}" class="btn-uproject">Create Project Request</a>
</div>
<h2 class="my_proj">Notifications</h2>
{% for notification in user_notifications %}
  {{notification.message}} <small>{{notification.time_stamp}}</small><br>
{% endfor %}

</div>

{% endblock content %}   
