{% extends "equ/u_base.html" %}
{% block content %}    
{% load static %}
<style>
    .inventory span{
        border: 1px solid #6897f5;
    background-color: #6897f5;
    }
  
    .inventory li{
      /* background-image: linear-gradient(to right, #60B8CA, #5890F9); */
      background: #ededed;
    }
  </style>

<div class="my_projects cent-d">
    <div class="mp1">
        <h1 class="form-title">Request Material</h1>
        <form method="post" class="project-form">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form, material in zipped_data %}
            <div class="material-entry">
                <div class="material-info">
                    <h3 class="material-name"><img src="{% static 'images/item.png' %}">{{ material.name }}</h3>
                    <button type="button" class="add-button" onclick="showRequestType(this)" style="margin-left: 20px; margin-top: 0;">+</button>
                    <div class="request-type" style="display: none;">
                        <label for="request_type"></label>
                        {{ form.request_type }}
                    </div>
                    <div class="quantity-input" style="display: none;">
                        <button type="button" class="quantity-button" onclick="decrementQuantity(this)">-</button>
                        {{ form.quantity }}
                        <button type="button" class="quantity-button" onclick="incrementQuantity(this)">+</button>
                    </div>
                    <br>
                    <div class="date-input" style="display: none;">
                        <label for="return_date" class="return-date-label">Return Date: </label>
                        {{form.return_date}}
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
            <br>
            {% endif %}
            <p class="instructions">Leave Return Date Empty for Issue Requests</p>
            <button type="submit" class="submit-btn">Submit Request</button> 
        </form>
    </div>
</div>

<script>
    function showRequestType(button) {
        var requestTypeDiv = button.parentNode.querySelector('.request-type');
        var quantityInputDiv = button.parentNode.querySelector('.quantity-input');
        var dateInputDiv = button.parentNode.querySelector('.date-input');

        if (requestTypeDiv.style.display === "none") {
            requestTypeDiv.style.display = "block";
            quantityInputDiv.style.display = "block";
            dateInputDiv.style.display = "block";
            button.style.display = "none";
        }
    }

    function incrementQuantity(button) {
        var inputField = button.parentNode.querySelector('input[type="number"]');
        inputField.stepUp();
    }

    function decrementQuantity(button) {
        var inputField = button.parentNode.querySelector('input[type="number"]');
        inputField.stepDown();
    }
</script>

<style>
     .add-button,
    .quantity-button,
    .submit-btn {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-top: 10px;
    }

    .add-button:hover,
    .quantity-button:hover,
    .submit-btn:hover {
        background-color: #2980b9;
    }

    .form-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .material-entry {
        border: 1px solid #ddd;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .material-name {
        font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    }

    .material-name img{
        margin-right: 10px;
    }

    .request-type,
    .quantity-input {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-left: 15px;
    }

    .request-type label,
    .quantity-button,
    .quantity-input input {
        margin-right: 10px;
    }

    .return-date-label {
        margin-right: 10px;
    }

    .instructions {
        font-size: 12px;
        color: #888;
        margin-top: 5px;
    }

    .error-message {
        color: #e74c3c;
        font-size: 14px;
        margin-top: 10px;
    }

    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.quantity-input{
    width: max-content;
    border-radius: 4px;
}

.quantity-input input{
    margin-top: 10px;
    padding: 10px;
    width: 50px;
    border: none;
    text-align: center;
}

.project-form input[type="date"]{
    width: max-content;
}

.material-info{
    display: flex;
}

</style>

{% endblock content %}
