{% extends "equ/u_base.html" %}
{% block content %}    


<div class="my_projects">
    <div class="mp1">

        <h1>Request Material</h1>
        <br>
        <form method="post" class="project-form">
            {% csrf_token %}
            {% for form, material in zipped_data %}
        <h3>{{ material.name }}</h3>
            <label for="id_request_type">Request Type:</label>
            {{ form.request_type }}
            <br>
            <label for="id_material">Quantity:</label>
            {{ form.quantity }}
            <br>
            <br>
            <br>
            {% endfor %}
            <button type="submit">Submit Request</button>
        </form>
</div>
</div>
  

{% endblock content %}   
