{% extends "equ/login_base.html" %}
{% block content %}
<style>

    .logout span{
      border: 1px solid white;
      background-color: white;
    }

    .logout li{
      background-image: linear-gradient(to right, #60B8CA, #5890F9);
    }
  </style>
    <div class="content-section"> 
            {% csrf_token %}
            <br>
            <h1 class="h3 mb-3 font-weight-normal" style="color: white;">You have been Logged Out.</h1>
            
        
        <div class="border-top pt-3" style="margin: 20px 0">
            <small class="text-muted">
            <a href="{% url 'login' %}">Log Back In </a>
            </small>
        </div>
    </div>
{% endblock content %}
