{% extends "equ/u_base.html" %}
{% block logout_active %}active{% endblock %}
{% block content %}
    <div class="content-section" style="margin-left: 220px;"> 
            {% csrf_token %}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">You have been Logged Out.</h1>
            
        
        <div class="border-top pt-3" style="margin-top: 20px">
            <small class="text-muted">
            Toodles
            </small>
        </div>
    </div>
{% endblock content %}
