
    :root{
      --primary:rgb(65 65 100);
      --secondary:rgb(97, 97, 131);
    }


     *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
     }

     input{
      outline: none;
     }

     ul{
      list-style: none;
     }

     .content table{
      width: 100%;
    }
    
    .content table, .content tr, .content th, .content td{
      border: 1px solid black;
      border-collapse: collapse;
    }
    
    .content th, .content td{
      padding: 10px;
      text-align: center;
    }

     .container {
      display: flex;
      /* flex-direction: column; */
      min-height: 100vh;
      max-height: max-content;
      /* border: 1px solid black; */
      background-color: #ececec;
    }

     .sidebar{
      width: 15%;
      /* height: 100vh; */
      background-color: var(--primary);
      padding: 20px;
     }

     .sidebar ul{
      list-style: none;
      /* width: 100%; */
     }

     .sidebar a{
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      /* border: 1px solid black; */
      text-align: center;
      display: flex;
      width: 100%;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
     }

     .sidebar li{
      padding: 15px 0;
    /* border: 1px solid black; */
    /* border-radius: 50px; */
    text-align: left;
    width: 70%;
     }

     .sidebar a:hover{
      cursor: pointer;
      background-color: var(--secondary);
     }

     .content {
      flex-grow: 1;
      /* border: 1px solid black; */
      border: none;
      width: 100%;
      max-width: 900px; 
      margin: 20px auto;
      border-radius: 30px;
      padding: 20px;
      box-shadow: 1px 1px 25px 1px #b4b4b4;
      background-color: white;
      display: flex;
      justify-content: center;
      /* align-items: center; */
      min-height: max-content;
    }

    

    .rcntc{
      background-color: #576689;
    }

    .rcnt{
      flex-grow: 1;
    /* border: 1px solid black; */
    /* border: none; */
    /* width: 32%; */
    max-width: 600px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,#6ab8cb, #5095f4);
    }

    .clndr{
      width: 100%;
      /* border: 1px solid black; */
      /* text-align: right; */
      display: flex;
      justify-content: end;
    }


/*USER UI CSS STARTS HERE */
     /* u_project css */
     .c_calender{
      position: fixed;
      right: 10%;
      /* top: 0; */
      /* border: 1px solid black; */
      padding: 30px 0;
  
  }
  /*Projects Button css*/
  .btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(65, 65, 100);
    color: #fff;
    text-decoration:none;
    border-radius: 5px;
  }

  
  
  .btn:hover {
    background-color: #444;
  }

  .btnsb:hover{
    background-color: #e3e3fc;
  }

  .my_projects{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
  }
  
  .my_proj{
      padding: 30px 0;
      /* padding-bottom: 50px; */
      border-bottom: 1px solid #d9d9d9;
  }

  .activities{
    width: 100%;
    height: 100%;
  }

  .activities h1{
    margin: 20px 0;
  }

  .project_list{
    padding: 20px 0;
    /* height: 75%; */
  }

  .project_list li{
    margin: 30px 0;
  }

  .project_list li a{
    text-decoration: none;
    color: white;
    background: #0000ff82;
    padding: 10px;
    border: none;
    border-radius: 50px;
  }

  .u_create_project{
    color: white;
    text-decoration: none;
    background: #3d3d90;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: var(--primary);
  }

  .u_create_project:hover{
    cursor: pointer;
    background-color: var(--secondary)  ;
  }
  /*Help blog css*/

  .all_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .answer {
    margin-bottom: 0;
  }
  
   /* Style for the error messages */
   .error-message {
    color: crimson;
    font-size: 14px;
    margin-bottom: 5px;
  }



  
  /*Create Project CSS*/
  .project-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .project-form input[type="text"],
  .project-form input[type="date"],
  .project-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .btn-uproject {
    background-color: #3d3d90;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-uproject-small {
    background-color: #800d39;
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-uproject:hover {
    background-color: #444;
  }
  .btn-uproject-small:hover {
    background-color: #444;
  }
  .project-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .booking-form {
    margin-bottom: 20px;
  }
  
  .booking-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-form input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  #add-booking-btn {
    background-color: #3d3d90;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #add-booking-btn:hover {
    background-color: #444;
  }

  #create-slot-btn {
    background-color: #3d3d90;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #create-slot-btn:hover {
    background-color: #444;
  }
  
  
  .submit-btn {
    background-color: #3d3d90;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #444;
  }
/*Confirmed Project Detail*/

.project-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.project-info {
  margin-bottom: 20px;
}
.project-info p {
  margin-bottom: 10px;
}
.equipment-list {
  margin-bottom: 20px;
}
.booking {
  margin-bottom: 10px;
  margin-right: 40px;
}
.equipment-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  
}
.booking-details {
  padding-bottom: 10px;
  margin-right: 40px;
  
}
.material-list {
  margin-top: 5px;
  list-style: disc;
}
.material-list li {
  margin-bottom: 5px;
}


/*USER UI CSS ENDS HERE */


  /*register and login css*/
  .content-section {
    /* margin-left: 220px; */
    width: 75%;
}

  .wlcm{
    font-size: 3rem;
  }

  .lcya{
    font-size: 1.5rem;
    padding: 20px 0;
  }

.form-signin {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    color: white;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input {
  background: transparent;
  width: 100%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.form-group small {
    display: block;
    margin-top: 5px;
    color: #dc3545;
}

.btn {
    display: block;
    width: max-content;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnsb{
  background-color: white;
  color: #3d3d90;
  font-weight: bold;
}

.border-top {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

.text-muted {
    color: white;
}




/*Admin UI css starts here */
.members{
  width: 100%;
  /* height: 100%; */
}

.members h1{
  margin: 20px 0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.user-table a{
  text-decoration: none;
  color: #3d3d90;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tbody tr:hover {
  background-color: #ddd;
}

.project-details {
  /* margin-left: 220px; */
  width: 100%;
  height: 100%;
}

.pr_content_section{
  width: 100%;
  height: 100%;
}

.project-details h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.project-info {
  margin-bottom: 20px;
}

.project-info p {
  margin-bottom: 10px;
}

.equipment-list {
  margin-bottom: 20px;
}

.booking {
  margin: 15px 0;
}

.equipment-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.booking-details {
  margin-left: 20px;
}

.material-list {
  margin-top: 10px;
  margin-left: 20px;
  list-style: disc;
}

.material-list li {
  margin-bottom: 5px;
}

.action-form {
  /* margin-top: 20px; */
  display: flex;
}



.a-actionbutton {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;

  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept:hover{
  background-color: green;
}

.reject:hover{
  background-color: red;
}

/* Calender  */
.cal, .cal th, .cal tr, .cal td{
  border: 1px solid #d6e2e3;
  border-collapse: collapse;
  padding: 10px;
  font-weight: normal;
  font-size: small;
}

.cal td{
  background-color: #e2f1ee;
}

td.Booked {
  background-color: #edc2e6; 
}

.cal .t_d{
  padding: 10px 35px;
}

.cal th{
  background-color: #dce7f5;
}

.calendar{
  width: 90%;
  /* margin: 30px auto; */
  border: 1px solid gray;
  border-radius: 30px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 25px 1px #b4b4b4;
} 

.calendar h1{
  padding: 0 10px 20px 10px;
}

.table_con{
  width: 100%;
  /* overflow: hidden; */
  overflow-x: scroll;
  height: max-content;
  border: 1px solid gray;
  /* border-radius: 30px; */
}

/* Lists */
.al{
  width: 85%;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
    max-height: max-content;
}

.all_lists{
  border: 1px solid gray;
  border-radius: 30px;
  width: 90%;
  /* margin: 30px auto; */
  padding: 30px;
  min-height: 90vh;
  background-color: white;
  box-shadow: 1px 1px 25px 1px #b4b4b4;
}

.all_lists h1{
  margin-bottom: 20px;
}

.all_lists h2{
  margin-bottom: 10px;
}

.all_lists li{
  margin: 30px 0;
}

.all_lists a{
  text-decoration: none;
  color: white;
  background: #0000ff82;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.all_lists a:hover{
  background-color:#0000ffbb ;
}


/* LABS */

.my_projects a{
  padding: 10px 15px;
    text-decoration: none;
    border: none;
    background:#3d3d90;
    color: white;
    border-radius: 40px;
    width: max-content;
    font-size: 1rem;
    font-weight: normal;
}


.mp1 h2{
  margin-bottom: 20px;
}

.my_projects{
  /* height: max-content; */
  margin-top: 30px;
}

.mp1 p{
  margin: 10px 0;
}

.my_projects a:hover{
  background-color: var(--secondary);
}

.labs{
  width: 100%;
  height: 100%;
  /* disp; */
}

.cln_btn a{
  width: max-content;
    
}

.cln_btn {
  width: 100%;
  display: flex;
    justify-content: space-between;
}

/* LOGS */
.lgs{
  margin: 20px 0;
}

.logs{
  width: 100%;
  margin: 10px 0;
}

.logs, .logs tr, .logs td, .logs th{
  border: 1px solid black;
  border-collapse: collapse;
}

.logs th, .logs td{
  padding: 5px;
}

.excellent { color: rgb(42, 143, 42); }
.good { color: rgb(4, 73, 4); }
.poor { color: rgb(161, 111, 19); }
.bad { color: red; }

.equip_container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.equip_container h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.equip_container a {
  text-decoration: none;
  color: white;
}

.equip_container a:hover {
  background-color: darkred;
}

.equip_container ul {
  list-style: none;
  padding-left: 0;
}

.equip_container ul li {
  margin-bottom: 5px;
}