/* 
    .container {
      display: flex;
    }
    .sidebar {
      width: 200px;
      height: 100vh;
      background-color: #f1f1f1;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 10px;
    }

    a {
      display: block;
      color: #333;
      text-decoration: none;
    }

    a:hover {
      background-color: #ddd;
    }
    .content{
      flex-grow: 1;
      padding: 20px;

    }
    body {
      font-family: Arial, sans-serif;
    }

    .table-container {
      overflow-x: scroll;
      width: 100%;
    }

    table {
      border-collapse: collapse;
      min-width: 800px;
    }

    th, td {
      padding: 8px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      text-align: center;
    }

    td {
      background-color: #fff;
    }

    .time-column {
      width: 100px;
      text-align: center;
    }

    .equipment-row {
      height: 50px;
      text-align: center;
    }

    .equipment-name {
      font-weight: bold;
    }

    .equipment-usage {
      color: #fff;
      font-size: 12px;
    }

    .equipment-usage-short {
      background-color: #00cc44;
    }

    .equipment-usage-medium {
      background-color: #ffcc00;
    }

    .equipment-usage-long {
      background-color: #ff3300;
    }
    .nav-bar {
      background-color: #f2f2f2;
      padding: 10px;
    }

    .nav-link {
      display: inline-block;
      padding: 8px 16px;
      text-decoration: none;
      color: #000;
    }

    .nav-link:hover {
      background-color: #ddd;
    }

     */
    :root{
      --primary:rgb(65 65 100);
      --secondary:rgb(97, 97, 131);
    }


     *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
     }

     ul{
      list-style: none;
     }

     .container{
      display: flex;
      /* border: 1px solid black; */
      background-color: #ececec;
     }

     .sidebar{
      width: 15%;
      height: 100vh;
      background-color: var(--primary);
      padding: 20px;
     }

     .sidebar ul{
      list-style: none;
      /* width: 100%; */
     }

     .sidebar a{
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      /* border: 1px solid black; */
      text-align: center;
      display: flex;
      width: 100%;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
     }

     .sidebar li{
      padding: 15px 0;
    /* border: 1px solid black; */
    /* border-radius: 50px; */
    text-align: left;
    width: 70%;
     }

     .sidebar a:hover{
      cursor: pointer;
      background-color: var(--secondary);
     }

     .content{
      /* border: 1px solid black; */
      border: none;
      width: 70%;
    height: 80vh;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 1px 1px 25px 1px #b4b4b4;
    background-color: white;
     }


     /* u_project css */
     .c_calender{
      position: fixed;
      right: 10%;
      /* top: 0; */
      /* border: 1px solid black; */
      padding: 30px 0;
  
  }
  
  .my_proj{
      padding: 30px 0;
      /* padding-bottom: 50px; */
      border-bottom: 1px solid #d9d9d9;
  }

  .project_list{
    padding: 20px 0;
    height: 75%;
  }

  .u_create_project{
    color: white;
    text-decoration: none;
    background: #3d3d90;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: var(--primary);
  }

  .u_create_project:hover{
    cursor: pointer;
    background-color: var(--secondary)  ;
  }
